body {
    background-image: url("../img/tweet_background.png");
}

#main {
    padding: 20px;
}

#card {
    margin-top: 50px;
}


/*
.card {
  max-width: 20rem;
}
*/

#footer {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    z-index: -1; --in case that the quote is too long
}

#footer p {
    margin: 8px;
}

#footer ul {
    padding: 0px;
    list-style-type: none;
    margin: 8px;
}

#footer ul li {
    display: inline-block;
}
